<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Mental Assessment And Training System</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div name="Title" class="jumbotron  mb-0 ">
            <div class="text-center  align-self-center">
                <h1>Mental Assessment And Training System</h1>
            </div>
        </div>
    </header>
    <div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
        <br>
        <div class="row text-center">
            <label class="col-4"></label>
            <label name="stop" class="col-4 btn btn-link" style="font-size:100%">Inhibition Control</label>
            <label class="col-4"></label>
        </div>
        <div class="row text-center">
            <div class="col-4">
                <br>
                <label name="predict" class="btn btn-link" style="font-size:100%">Prediction and Recording of Table
                    Tennis
                </label><br><br>
                <label name="emotion" class="btn btn-link" style="font-size:100%">Emotion</label>
            </div>
            <div class="col-4">
                <img src="/image/sixSide.png" alt="Test result diagram" style="width:100%;height:300px" />
            </div>
            <div class="col-4">
                <br>
                <label name="concentration" class=" btn btn-link" style="font-size:100%">Attention</label><br><br>
                <label name="remember" class="btn btn-link" style="font-size:100%">Working Memory</label>
            </div>
        </div>
        <div class="row text-center">
            <label class="col-4 btn btn-primary btn-bg" style="font-size:100%">Back to Homepage</label>
            <label name="see" class="col-4 btn btn-link" style="font-size:100%">Perception</label>
            <label class="col-4 btn btn-success btn-bg" style="font-size:100%">My Report</label>
        </div>
        <br>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <p>Please choose which questionary you want to go</p>
                    <div class="modal-btn">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <form id="form" action="" method="post" style="display:none">
            <input name="ID" type="text" value="<%=ID%>" /><br />
            <input name="password" type="password" value="<%=password%>" /><br />
            <input name="goal" type="text" value="EW5" /><br />
        </form>
    </div>
    <script>
        var eachDate = {
            A: 'No Record Yet',
            B: 'No Record Yet',
            C: 'No Record Yet',
            D: 'No Record Yet',
            E: 'No Record Yet',
            F: 'No Record Yet',
            G: 'No Record Yet',
            H: 'No Record Yet',
            I: 'No Record Yet',
            J: 'No Record Yet',
            K: 'No Record Yet',
            L: 'No Record Yet',
            M: 'No Record Yet'
        };
        //跳問卷
        function movePage(name) {
            $("#form").attr("action", "Questionary/" + name).submit();
        }
        $(document).ready(function () {
            $.post("/GQ/GetDate", { ID: '<%=ID%>', password: '<%=password%>' }, function (result) {
                if (result.result == "success") {
                    for (var i in result.data) {
                        eachDate[i] = "Time last answered" + result.data[i];
                    }
                }
                else
                    alert(result.result + ",unable to load history record");
            })
            $(".btn-link").click(function () {
                $('#modal').modal('show');
                $(".modal-title").html($(this).text());
                switch ($(this).attr("name")) {
                    case "stop":
                        $(".modal-btn").html("<input onclick ='movePage(this.name)' type='button' value='Go / No-Go Task' name='A'/>" + eachDate.A + "<br><input onclick ='movePage(this.name)'  type='button' value='Stop Signal Task' name='B'/>" + eachDate.B + "");
                        break;
                    case "predict":
                        $(".modal-btn").html("<input onclick ='movePage(this.name)' type='button' value='Serve Prediction of Table Tennis' name='L' />" + eachDate.L + "<br><input onclick ='movePage(this.name)'  type='button' value='Table Tennis Game Recording Task' name='M' />" + eachDate.M + "");
                        break;
                    case "emotion":
                        $(".modal-btn").html("<input onclick ='movePage(this.name)' type='button' value='Emotion Stroop' name='K' />" + eachDate.K + "");
                        break;
                    case "see":
                        $(".modal-btn").html("<input onclick ='movePage(this.name)'  type='button' value='Motion Coherence Task' name='C' />" + eachDate.C + "<br><input onclick ='movePage(this.name)'  type='button' value='Motion Suppression Task' name='D' />" + eachDate.D + "");
                        break;
                    case "remember":
                        $(".modal-btn").html("<input onclick ='movePage(this.name)'  type='button' value='Backward Digit Span' name='I' />" + eachDate.I + "<br><input onclick ='movePage(this.name)'  type='button' value='N-Back Task' name='J' />" + eachDate.J + "");
                        break;
                    case "concentration":
                        $(".modal-btn").html("<input onclick ='movePage(this.name)'  type='button' value='Attention Network Task' name='E' />" + eachDate.E + "<br><input onclick ='movePage(this.name)'  type='button' value='Gaze Cueing Task' name='F' />" + eachDate.F + "<br><input onclick ='movePage(this.name)'  type='button' value='Multiple Object Tracking Task' name='G' />" + eachDate.G + "<br><input onclick ='movePage(this.name)'  type='button' value='Reaction Time Task' name='H' />" + eachDate.H + "");
                        break;
                    default:
                        $(".modal-btn").html("");
                        break;
                }
            });
            //跳功能頁
            $(".btn-primary").click(function () {
                $("#form").attr("action", "/EW/jumpBoard").submit();
            });
            $(".btn-success").click(function () {
                $("#form").attr("action", "/GQ/PR").submit();
            });
        });
    </script>
</body>

</html>