#right {
  height: 100px;
  width: 100px;
}

#left {
  height: 100px;
  width: 100px;
  /* transform: rotate(180deg); */
}

#circle_right,
#circle_left {
  height: 100px;
  width: 100px;
  border: 1px solid red;
  border-radius: 50%;
}
