<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Mental Assessment And Training System</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div name="Title" class="jumbotron  mb-0 ">
            <div class="text-center  align-self-center">
                <h1>Mental Assessment And Training System</h1>
            </div>
        </div>
    </header>
    <div class="container" style="font-family:Microsoft JhengHei;font-size:150%">
        <div id="btn" style="text-align:center">
            <button name="Introduce" type="button" class="btn btn-primary col-md-4">Introduction for Project</button>
            <button name="Login" type="button" class="btn btn-secondary col-md-4">Participant Log In</button>
        </div>
        <br>
        <div id="Introduce" style="text-align:center">
            <h1>Service Introduction</h1>
            <!--Mental assessment and training system’s literal contents-->
            <br>
                <p>About "The System":</p>
                <p>
                    We are urged to build an ideal immanence skills refinement system that is specific for people of all ages , which is also available for the general public’s mental evaluation.
                </p>
                <p>This system includes integrated assessment and follow-up training functions with multiple personalized settings. All data will be collected based on 5 phases: attention, perception, working memory, emotion, and inhibition control abilities.</p>
                <br/>
                <h1>Why choosing "The System" ?</h1>
                <p>I. User interface friendly:
                <p>Whole assessments and pieces of training can be held online, the time consumes for the analysis cost less than few minutes. </p>
                <p>II. High user experience design:
                <p>The results are presented in a graphical chart, further customized reinforcements and related tracking will be created via the cognitive status and traits of participants. </p>
                <p>III. Huge online database:
                <p>There are more than hundreds of people in various age groups records can be referred to. All personal information will be highly protected.</p>
            </div>
            <img src="\image\Ew_intro.jpg" style="width: 80%;" />
            <br>
            <br>
        </div>
        <div id="Login" style="text-align:center">
            <form action="/EW/login" method="post">
                <h3>Log in</h3>
                <input name="ID" type="text" class="col-md-4" placeholder="Please enter your account" required /><br />
                <input name="password" type="password" class="col-md-4" placeholder="Please enter your password" required /><br />
                <input type="submit" class="btn btn-success col-md-4" value="Log in" />
            </form>
            <hr>
            <div id="register" style="text-align:center">
                <h3>Register</h3>
                <input name="email" type="email" class="col-md-4" placeholder="Please key in your Email" required /><br />
                <input type="button" class="btn btn-info col-md-4" value="Sign Up" />
            </div>
        </div>
    </div>
    <script>
        var btnMode = 'Introduce';
        $("#Login").hide();
        $(document).ready(function () {
            // 檢測適配
            const getBrowser = () => {
                var UserAgent = navigator.userAgent.toLowerCase();
                var browserInfo = {};
                var browserArray = {
                    IE: window.ActiveXObject || "ActiveXObject" in window, // IE
                    Chrome: UserAgent.indexOf('chrome') > -1 && UserAgent.indexOf('safari') > -1, // Chrome浏览器
                    Firefox: UserAgent.indexOf('firefox') > -1, // 火狐浏览器
                    Opera: UserAgent.indexOf('opera') > -1, // Opera浏览器
                    Safari: UserAgent.indexOf('safari') > -1 && UserAgent.indexOf('chrome') == -1, // safari浏览器
                    old_Edge: UserAgent.indexOf('edge') > -1,  // 舊Edge浏览器
                    Edge: UserAgent.indexOf('edg') > -1 && UserAgent.indexOf('chrome') > -1 && UserAgent.indexOf('safari') > -1, // 新Edge
                };
                // console.log(browserArray)
                for (var i in browserArray) {
                    if (browserArray[i]) {
                        var versions = '';
                        if (i == 'IE') {
                            versions = UserAgent.match(/(msie\s|trident.*rv:)([\w.]+)/)[2];
                        } else if (i == 'Chrome') {
                            versions = UserAgent.match(/chrome\/([\d.]+)/)[1];
                        } else if (i == 'Firefox') {
                            versions = UserAgent.match(/firefox\/([\d.]+)/)[1];
                        } else if (i == 'Opera') {
                            versions = UserAgent.match(/opera\/([\d.]+)/)[1];
                        } else if (i == 'Safari') {
                            versions = UserAgent.match(/version\/([\d.]+)/)[1];
                        } else if (i == 'Edge') {
                            versions = UserAgent.match(/edg\/([\d.]+)/)[1];
                        } else if (i == "old_Edge") {
                            versions = UserAgent.match(/edge\/([\d.]+)/)[1];
                        }
                        browserInfo.type = i;
                        browserInfo.versions = parseInt(versions);
                    }
                }
                return browserInfo;
            }
            const { type, versions } = getBrowser();
            if (type != "Chrome") {
                alert("您使用的瀏覽器不為 Chrome , 本網站未對其進行優化, 有可能發生不可預期錯誤, 建議直接停止測試。");
            }
            if (type == "Chrome" && versions < 85) {
                alert("您的瀏覽器版本低於 85, 請至少升級至85再開始進行測試");
            }
            console.log({ type, versions });
            //按鈕外觀切換
            $('#btn > button').click(function () {
                if ($(this).attr('name') != btnMode) {
                    $("#" + btnMode).hide();
                    btnMode = $(this).attr('name');
                    $("#" + btnMode).show();
                    var secondary = $('#btn').find('.btn-secondary');
                    var primary = $('#btn').find('.btn-primary');
                    secondary.removeClass("btn-secondary").addClass('btn-primary');
                    primary.removeClass("btn-primary").addClass('btn-secondary');
                }
            });
            $('#register > input[type=button]').click(function () {
                alert("正在嘗試寄送註冊信件......請等候幾秒鐘");
                $.post("/EW/register", { email: $('#register > input[type=email]').val() }, function (result) {
                    console.log(result);
                    if (result.result == "success") {
                        alert(result.message);
                    } else {
                        alert("信件無法寄出, 若確認信箱無誤, 請聯絡網站管理人");
                    }
                })
            })
        });
    </script>
</body>

</html>