<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Mental Assessment And Training System</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div name="Title" class="jumbotron  mb-0 ">
            <div class="text-center  align-self-center">
                <h1>Mental Assessment And Training System</h1>
            </div>
        </div>
    </header>
    <br>
    <div style="font-size:200%" class="container">
        <div>
            <h1>Experiment Introduction and Consent Form<</h1>
            <p>
                This research analyzes the psychological and physiological differences between professional snooker players and ordinary snooker enthusiasts through cognitive assessment, mental training, movement analysis and mental exploration, in order to help athletes maintain a high level of physical and psychological state during practice and competition, and continue to make greater progress.
            </p>
            <p>
                The data obtained in the experiment can only be used by the research team. In the future, group data will be analyzed and published, and the results of individual experiments will not be disclosed. Also, the data will only be stored in the Department of Psychology of Chenggong University for 10 years, and be destroyed by 2029.
            </p>
            <p>
                If you agree to conduct the experiment, please press Agree to fill in the basic information and the contents of the scale.
            </p>
        </div>
    </div>
    <div style="text-align:center">
        <form action="/EW/jumpBoard" method="post">
            <input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
            <input name="password" type="password" value="<%=password%>" style="display:none" /><br />
            <input name="goal" type="text" value="EW3" style="display:none" /><br />
            <input type="submit" style="font-size:200%" class="btn btn-primary col-md-6" value="I have finished reading and agree to the above content" />
        </form>
    </div>
    <br>
    <br>
</body>

</html>