<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Mental Assessment And Training System</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div name="Title" class="jumbotron  mb-0 ">
            <div class="text-center  align-self-center">
                <h1>Mental Assessment And Training System</h1>
            </div>
        </div>
    </header>
    <div class="container" style="text-align:center">
        <br>
        <form action="/GQ/EQ" method="post">
            <input name="ID" type="text" value="<%=ID%>" style="display:none" />
            <input name="password" type="password" value="<%=password%>" style="display:none" />
            <input type="submit" class="btn btn-primary" style="font-size:200%" value="Cognitive Task" />
        </form>
        <br>
        <form action="/QQ/EQ" method="post">
            <input name="ID" type="text" value="<%=ID%>" style="display:none" />
            <input name="password" type="password" value="<%=password%>" style="display:none" />
            <input type="submit" class="btn btn-primary" style="font-size:200%" value="Questionnaire" />
        </form>
        <br>
        <form action="/CQ/EQ" method="post">
            <input name="ID" type="text" value="<%=ID%>" style="display:none" />
            <input name="password" type="password" value="<%=password%>" style="display:none" />
            <input type="submit" class="btn btn-primary" style="font-size:200%" value="Cognitive Training" />
        </form>
        <br>
        <form action='/exe/ButtonBoard.exe'>
            <input class="btn btn-success" style="font-size:180%" type="button" id="downloadbtn" value="掛載外接按鈕">
            <input style="display: none;" type="submit" value="">
        </form>
        <br>
    </div>
</body>
<script>
    $(document).ready(() => {
        $("#downloadbtn").click(function () {
            const result = confirm("Usage steps:\n1.Please agree to download\n2.Please plug in the external button to keep the connection\n3.Plug in the external button and run the executable file\nNote: If the connection is failed, the program will close automatically\nNotice:Please keep the program open when taking the test")

            if (result)
                $(this).parent("form").submit();

        });
    });
</script>

</html>