<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mental Assessment And Training System</title>
</head>

<body>
  <h1>Mental Assessment And Training System</h1>
  <h2>以下為您的個人實驗編號(帳號)與臨時密碼</h2>
  <h3>Subject No.(ID) : <strong>
      <%=ID%>
    </strong></h3>
  <h3>Temporary password : <strong>
      <%=password%>
    </strong></h3>
  <a href="<%=url%>">網站跳轉連結</a>
  <h1>本頁面僅可進入一次, 請謹慎記下帳號密碼後再離開</h1>
</body>

</html>
