<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Mental Assessment And Training System</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div name="Title" class="jumbotron  mb-0 ">
            <div class="text-center  align-self-center">
                <h1>Mental Assessment And Training System</h1>
            </div>
        </div>
    </header>
    <br>
    <div class="container">
        <div style="text-align:center">
            <input name="Q1" onclick='movePage(this.name)' type="button" value="Athletic Coping Skills Inventory" style="font-size:200%"
                class="btn btn-primary col-md-6"><br><small id="Q1">No Record</small><br>
            <input name="Q2" onclick='movePage(this.name)' type="button" value="Athletic Psychological Skills Inventoryyu" style="font-size:200%"
                class="btn btn-primary col-md-6"><br><small id="Q2">No Record</small><br>
            <input name="Q3" onclick='movePage(this.name)' type="button" value="Competitive State Anxiety Inventory" style="font-size:200%"
                class="btn btn-primary col-md-6"><br><small id="Q3">No Record</small><br>
            <input name="Q4" onclick='movePage(this.name)' type="button" value="Sport Imagery Questionnaire" style="font-size:200%"
                class="btn btn-primary col-md-6"><br><small id="Q4">No Record</small><br>
            <input name="Q5" onclick='movePage(this.name)' type="button" value="Flow Experience Scale" style="font-size:200%"
                class="btn btn-primary col-md-6"><br><small id="Q5">No Record</small><br>
            <input name="Q6" onclick='movePage(this.name)' type="button" value="Sports Competition Anxiety Test for Adult" style="font-size:200%"
                class="btn btn-primary col-md-6"><br><small id="Q6">No Record</small><br>
            <input name="Q7" onclick='movePage(this.name)' type="button" value="Emotional Intelligence Scale" style="font-size:200%"
                class="btn btn-primary col-md-6"><br><small id="Q7">No Record</small><br>
            <input name="Q8" onclick='movePage(this.name)' type="button" value="Gordon Personal Profile-Inventory" style="font-size:200%"
                class="btn btn-primary col-md-6"><br><small id="Q8">No Record</small><br>
        </div>
        <div>
            <div class="row">
                <label class="col-md-3"></label>
                <input id="HOME" type="button" value="Back to Homepage" style="font-size:200%" class="btn btn-success col-md-3">
                <input id="PR" type="button" value="Individual Report" style="font-size:200%" class="btn btn-warning col-md-3">
                <label class="col-md-3"></label>
            </div>
        </div>
    </div>
    <div>
        <form id="form" action="" method="post" style="display:none">
            <input name="ID" type="text" value="<%=ID%>" /><br />
            <input name="password" type="password" value="<%=password%>" /><br />
            <input name="goal" type="text" value="EW5" /><br />
        </form>
    </div>
    <br>
    <br>
    <script>
        //跳問卷
        function movePage(name) {
            $("#form").attr("action", "Questionary/" + name).submit();
        }
        $(document).ready(function () {
            $.post("/QQ/GetDate", { ID: '<%=ID%>', password: '<%=password%>' }, function (result) {
                if (result.result == "success") {
                    for (var i in result.data) {
                        $("#" + i).text("Last answered at : " + result.data[i]);
                    }
                }
                else
                    alert(result.result + ",could not load the history data");
            })
            //跳功能頁
            $(".btn-success").click(function () {
                $("#form").attr("action", "/EW/jumpBoard").submit();
            });
            $(".btn-warning").click(function () {
                $("#form").attr("action", "/QQ/PR").submit();
            });
        });
    </script>
</body>

</html>