<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/arduino.js"></script>
    <script src="/javascripts/GQ_SQ.js"></script>
    <title>E:Attention Network Task</title>
</head>
<style>
    @media(min-device-width: 1250px) {
        label {
            font-size: 35px;
        }

        div[side="downer"] {
            position: fixed;
            top: 400px;
            left: 50%;
            transform: translateX(-50%)
        }

        div[side="upper"] {
            position: fixed;
            top: 150px;
            left: 50%;
            transform: translateX(-50%)
        }
    }

    @media(min-device-width: 1900px) {
        label {
            font-size: 50px;
        }

        div[side="downer"] {
            position: fixed;
            top: 550px;
            left: 50%;
            transform: translateX(-50%)
        }

        div[side="upper"] {
            position: fixed;
            top: 300px;
            /* margin-top: 550px; */
            left: 50%;
            transform: translateX(-50%)
        }
    }
</style>

<body>
    <!-- main modal -->
    <div class="modal fade" id="main-model" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <button class="btn btn-outline-secondary " style="position: absolute; right: 20px; top: 15px;"
                        onclick="$('form').submit();">Back to Homepage</button>
                    <h4 class="modal-title " style="margin: 0 auto;" id="exampleModalLongTitle">Instruction</h4>
                </div>
                <div class="modal-body m-2 p-0 text-center"
                    style="background-color: rgba(255, 196, 196, 0.651);height: 18em;">
                    <img src="/image/E.png" alt="information" class=" img-fluid  p-0" style="height: 100%;">
                </div>
                <div class="btn-group d-flex p-2">
                    <button type="button" class=" btn w-100  btn-outline-success" value="practice">Practice Mode</button>
                    <button type="button" class="  btn w-100  btn-outline-success " value="reality">Actual Test</button>
                </div>
                <div class="d-flex m-2">
                    <button id="start" type="button" class="w-100 btn btn-primary">Start</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div name="neutral" tag="left" side="downer">
        <label style="font-weight: bold;margin-right:5px;">&lt;-</label>
    </div>
    <div name="neutral" tag="left" side="upper">
        <label style="font-weight: bold;margin-right:5px;">&lt;-</label>
    </div>
    <div name="Duel-cue">
        <div side="upper">
            <label style="font-weight: bold;">*</label>
        </div>
        <div side="downer"> 
            <label style="font-weight: bold;">*</label>
        </div>
    </div> -->
    <!-- cross -->
    <ten id="cross" class="center-screen ">+</ten>
    <!-- result label -->
    <label id="result_label" class="center-screen " style="  font-size: 25px; color:white; font-weight:bold"
        style="display: none;"></label>
    <!-- arrow place   dont change sequence -->
    <div id="arrow_place">
        <div name="congruent" tag="right" style="display: none;">
            <label style="font-weight: bold;margin-right:5px;">-&gt;</label>
            <label style="font-weight: bold;margin-right:5px;">-&gt;</label>
            <label style="font-weight: bold;margin-right:5px;">-&gt;</label>
            <label style="font-weight: bold;margin-right:5px;">-&gt;</label>
            <label style="font-weight: bold;margin-right:5px;">-&gt;</label>
        </div>
        <div name="incongruent " tag="right" style="display: none;">
            <label style="font-weight: bold;margin-right:5px;">&lt;-</label>
            <label style="font-weight: bold;margin-right:5px;">&lt;-</label>
            <label style="font-weight: bold;margin-right:5px;">-&gt;</label>
            <label style="font-weight: bold;margin-right:5px;">&lt;-</label>
            <label style="font-weight: bold;margin-right:5px;">&lt;-</label>
        </div>
        <div name="neutral" tag="right" style="display: none;">
            <label style="font-weight: bold;margin-right:5px;">-&gt;</label>
        </div>
        <div name="congruent" tag="left" style="display: none;">
            <label style="font-weight: bold;margin-right:5px;">&lt;-</label>
            <label style="font-weight: bold;margin-right:5px;">&lt;-</label>
            <label style="font-weight: bold;margin-right:5px;">&lt;-</label>
            <label style="font-weight: bold;margin-right:5px;">&lt;-</label>
            <label style="font-weight: bold;margin-right:5px;">&lt;-</label>
        </div>
        <div name="incongruent " tag="left" style="display: none;">
            <label style="font-weight: bold;margin-right:5px;">-&gt;</label>
            <label style="font-weight: bold;margin-right:5px;">-&gt;</label>
            <label style="font-weight: bold;margin-right:5px;">&lt;-</label>
            <label style="font-weight: bold;margin-right:5px;">-&gt;</label>
            <label style="font-weight: bold;margin-right:5px;">-&gt;</label>
        </div>
        <div name="neutral" tag="left" style="display: none;">
            <label style="font-weight: bold;margin-right:5px;">&lt;-</label>
        </div>
    </div>


    <!-- clue place  dont change sequence-->
    <div id="clue_place">
        <div name="No-cue" style="display: none;">
            <ten id="cross" class="center-screen ">+</ten>
        </div>
        <div name="Center-cue" style="display: none;">
            <label class=" center-screen" style="font-weight: bold;">*</label>
        </div>
        <div name="Duel-cue" style="display: none;">
            <div side="upper">
                <label style="font-weight: bold;">*</label>
            </div>
            <div side="downer">
                <label style="font-weight: bold;">*</label>
            </div>
        </div>
        <div name="Spatial-Cue" style="display: none;">
            <label style="font-weight: bold;">*</label>
        </div>
    </div>

    <!-- <div name="Duel-cue">
        <div side="upper">
            <label style="font-weight: bold;">*</label>
        </div>
        <div side="downer">        
            <label style="font-weight: bold;">*</label>
        </div>
    </div> -->



    <!-- finish btn for game -->
    <button id="finish_btn" style="display: none;"></button>
    <!-- post form -->
    <form method="POST" action="/GQ/EQ" style="display: none;">
        <input name="ID" value="<%=ID%>">
        <input name="password" value="<%=password%>">
    </form>

</body>
<script type="text/javascript" src="/javascripts/Class_inform.js"></script>
<script type="text/javascript">
    var game_get = null;
    var game;
    const saver = new GQ_SQ("<%=ID%>", "<%=password%>");
    $(window).on('load', function () {
        $('#main-model').modal({
            backdrop: 'static',
            keyboard: false
        });
        setArduinoMode("FJ");
        saver.saveDataBefore();
    });

    $('.btn-group').on('click', '.btn', function () { //practice reality change
        game_get = $(this).val();
        $(this).addClass('active').siblings().removeClass('active');
    });

    $('#start').on('click', function () { //start the game
        if (game_get == "practice") {
            game = new E(20);
            game.process();
            $('#main-model').modal('hide');
        } else if (game_get == "reality") {
            game = new E(96);
            game.process();
            $('#main-model').modal('hide');
        }
    });

    $('#finish_btn').on('click', function () {
        console.log(game.one);
        console.log(game.group);
        console.log(game.pr);
        if (game_get == "reality") {
            saver.saveDataAfter(game, 'E');
        } else { // practice finish reload the page
            location.reload();
        }
    });
</script>

</html>