<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
	<title>Mental Assessment And Training System</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
</head>

<body style="background-color: gainsboro;">
	<header>
		<div name="Title" class="jumbotron  mb-0 ">
			<div class="text-center  align-self-center">
				<h1>Mental Assessment And Training System<small style="color: gray;">Static Guide</small></h1>
			</div>
		</div>
	</header>
	<div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
		<br>
		<h2 name="title" class="text-center" style="color: black;">
			<strong>Strobe Goggles</strong>
		</h2>
		<br>
		<div class="row">
			<div class="col-8" style="font-size: 75%;">
				A R&D tool for vision training by Senaptec ( https://www.senaptec.com/product/senaptec-strobe-standard). It could reform or strengthen users motor function, body balance and reaction time with rapidly blocking users eyesight at a fixed frequency. As the lenses flicker on and off, it is harder to process information, which helps the brain
				focus on visual tasks, which provides an edge for athletes to perform at a higher level more consistently and with better decision making.
				<br><br>
				<h2><strong>Reference</strong></h2>
				<h3>Sports Science Lab：Strobe Goggles</h3>
				<iframe style="width: 100%;" src="https://www.youtube.com/embed/RupNqK86kKc" title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
				<h3>STACK：Nike Vapor Strobes</h3>
				<iframe style="width: 100%;" src="https://www.youtube.com/embed/xM7i2OSUyFY" title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>
			<div class="col-4">
				<img src="\image\CQ_SW\SW1\1.jpg" style="width: 100%;" alt="Could not access to the image"><br>
				<img src="\image\CQ_SW\SW1\2.jpg" style="width: 100%;" alt="Could not access to the image"><br>
			</div>
		</div>
		<div class="row text-center">
			<label class="col-4" style="font-size:100%"></label>
			<form id="form" class="col-4" action="/CQ/EQ" method="post">
				<input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
				<input name="password" type="password" value="<%=password%>" style="display:none" /><br />
				<input type="submit" value="Previous page" class="btn btn-primary btn-bg" style="font-size:100%" /><br />
			</form>
			<label class="col-4" style="font-size:100%"></label>
		</div>
		<br>
	</div>
</body>

</html>