<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
	<title>Mental Assessment And Training System</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
</head>

<body style="background-color: gainsboro;">
	<header>
		<div name="Title" class="jumbotron  mb-0 ">
			<div class="text-center  align-self-center">
				<h1>Mental Assessment And Training System<small style="color: gray;"> Static Guide</small></h1>
			</div>
		</div>
	</header>
	<div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
		<br>
		<h2 name="title" class="text-center" style="color: black;">
			<strong>Imagery Training(Imagery Training)</strong>
		</h2>
		<br>
		<div class="row">
			<div class="col-8" style="font-size: 75%;">Imagery training refers to imagine the practice of specific skills or actions without being in the actual field or actual manual operation. For example, the player imagine the experience of playing against the opponent and the strategy of the game.
				<br><br>
				According to the US Olympic Training Center (Murphy, Jowdy, & Durtschi, 1990), more than 90% of sports psychologists and Olympic athletes have used different forms of imagery training, and most of them consider that imagery training is helpful. There are also many Olympic coaches add imagery training to the athletes' training program.
				<br><br>Imagery training can activate the same neural network as in actual training. It can make the neural network more closely connected. A faster and more effective neural network will prompt us to become more proficient in a certain action. As a result, by imagining that you are practicing, you can indeed continue to improve your skills.
				<br><br>
				<h2><strong>The Function</strong></h2>
				Imagery training is the use of various senses to create or reshape a certain experience in the mind to achieve relaxation, practice, and motivation.
				<br><br>
				<h2><strong>The Principle</strong></h2>
				Imagery training emphasizes to be close to the real situation. The closer the user's imagination is to the real situation, the better the training effect. It is recommended that the content of image training include the following：
				<h3> I) Real situation: </h3>
				For example: Was it indoor or outdoor during the real game? Are there spectators? How about the weather? How does you feel in the field?
				<h3> II) All of your senses: </h3>
				(e.g., see, feel, hear, taste, smell) to rehearse your sport in your mind
				<h3> III) Behaviors: </h3>
				What do you do before and during the game? Warm up, Running, Jumping, Throwing, etc.
				<h3> IV) Mental reaction: </h3>
				How do you feel during the game? Are you nervous? Excited?
				<h3> V) Physiological response: </h3>
				Rapid heartbeat, sweaty hands, accelerated breathing, gastrointestinal motility, etc.
				<h3> VI) Kinesthetic imagery: </h3>
				Imagine the sensation of the muscles you will feel. For example, when shooting a basketball, imagine knees squatting slightly. When jumping, you can feel the contraction of the thigh and calf muscles; when you feel the elbow retracted in your hands, you can feel the arms and arms when you throw the ball. The sensation of muscle contraction in the forearm and wrist.
				<br><br>
				<h2><strong>Notice: </strong></h2>
				1. Imagery training can help athletes, but it still cannot completely replace physical training. Many studies have pointed out that imagery training and physical training can achieve the maximum effect in parallel.<br>
				2. For novice, due to lack of actual experience, the effect of imagery training is small. It is recommended to focus on physical training first.<br><br>
				<h3><strong>Reference</strong></h3>
				<h4>Murphy, S., Jowdy, D., & Durtschi, S. (1990). Report on the US Olympic Committee survey on imagery use in sport. Colorado Springs, CO: US olympic training center.</h4>
			</div>
			<div class="col-4">
				<h2><strong>Reference</strong></h2>
				<small>The imagery training of Olympics weightlifting gold medal winner - Kuo Hsing-Chun, </small>
				<iframe style="width: 100%;" src="https://www.youtube.com/embed/nTBRS6mKJAo" title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
				<h4>BrainCraft: How Brain Training Improves Sports Performance</h4>
				<iframe style="width: 100%;" src="https://www.youtube.com/embed/h7TSf1kHRf4" title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
				<h3>CYFIT兆佑: 用想像來訓練! 意象訓練真的有效嗎?</h3>
				<iframe style="width: 100%;" src="https://www.youtube.com/embed/AMlkEvuS4ts" title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>
		</div>
		<div class="row text-center">
			<label class="col-4" style="font-size:100%"></label>
			<form id="form" class="col-4" action="/CQ/EQ" method="post">
				<input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
				<input name="password" type="password" value="<%=password%>" style="display:none" /><br />
				<input type="submit" value="Previous Page" class="btn btn-primary btn-bg" style="font-size:100%" /><br />
			</form>
			<label class="col-4" style="font-size:100%"></label>
		</div>
		<br>
	</div>
</body>

</html>