<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
	<title>Mental Assessment And Training System</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
</head>

<body style="background-color: gainsboro;">
	<header>
		<div name="Title" class="jumbotron  mb-0 ">
			<div class="text-center  align-self-center">
				<h1>Mental Assessment And Training System<small style="color: gray;">Static Guide</small></h1>
			</div>
		</div>
	</header>
	<div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
		<br>
		<h2 name="title" class="text-center" style="color: black;">
			<strong>Imagery Training(Imagery Training)</strong>
		</h2>
		<br>
		<div class="row">
			<div class="col-8" style="font-size: 75%;">意象訓練指的是，不用處在實際的場域中，或實際的手動操作，僅透過自身的想像演練特定的技能或動作。例如，在比賽前，想像與對手的交手經驗、對戰策略。
				根據美國奧運訓練中心的研究（Murphy, Jowdy, &
				Durtschi,1990）發現，超過九成的運動心理諮商員與奧運選手均使用過不同形式的意象練習，其中多數的選手覺得意象訓練有幫助。也有許多奧運教練在訓練期間會在選手的訓練菜單內加入意象練習。
				意象訓練能活化與實際訓練時一樣的神經迴路，不斷的進行意象訓練，可以使神經網絡連結更加緊密，更快更有效的神經網絡會促使我們對某個動作更加熟練。由此，透過想像自己正在練習，確實能夠持續精進技巧。<br><br>
				<h2><strong>意象訓練的作用</strong></h2>
				意象訓練是利用各種感官在頭腦中創造或是重新形塑某種經驗，以達放鬆、練習、激勵等效果。
				<h2><strong>意象的內容</strong></h2>
				意象訓練有多種不同的理論與施行細則，但多數皆強調要貼近真實情境。使用者想像越貼近真實情境，訓練效果越佳。建議意象訓練的內容包括以下內容(資料來源：運動心理訓練網站https://tinyurl.com/4sbbth3w )：
				<h3> I、真實事件的情境：</h3>
				例如：真實比賽時是在室內還是室外? 有沒有觀眾? 天氣狀況怎麼樣呢? 那個環境感覺起來怎麼樣呢?
				<h3> II、各感官的內容：</h3>
				包括視、聽、嗅、味、觸覺的內容。例如：游泳池的味道、汗的味道、器具的觸感(e.g. 球、球棒、竿子等)。
				<h3> III、行為反應 : </h3>
				你在比賽時做了甚麼事呢? 跑? 跳? 擲? 防守? 攻擊? 拉開了弓? 扣了版機扣? 還是你需要沉靜下來? 你的動作的速度怎麼樣呢?
				<h3> IV、心理反應 : </h3>
				你緊張嗎? 興奮嗎? 激動嗎?
				<h3> V、生理反應 : </h3>
				例如：心跳加快、流手汗、呼吸加速、腸胃蠕動等
				<h3> VI、運動感覺想像(kinesthetic imagery) : </h3>
				將你會感覺到的肌肉的感覺也想像進去，例如籃球投籃時想像膝蓋微蹲，跳起時感覺到大腿肌與小腿肌肉收縮的感覺；手部感覺到手肘內縮，投球時感覺到手臂、前臂、手腕肌肉收縮的感覺。
				<h2><strong>注意事項：</strong></h2>
				1、 意象訓練有助於運動選手，但仍不能完全取代實際身體的訓練。有許多研究指出意象訓練與身體訓練並行才能達到最大功效。<br>
				2、 對於初學者，由於實際經驗不足，使用意象訓練效果有限，建議先以身體訓練為主。<br>
			</div>
			<div class="col-4">
				<h2><strong>參考影片</strong></h2>
				<h3>奧運舉重金牌選手郭婞淳選手意象訓練</h3>
				<iframe style="width: 100%;" src="https://www.youtube.com/embed/nTBRS6mKJAo" title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
				<h3>BrainCraft： How Brain Training Improves Sports Performance</h3>
				<iframe style="width: 100%;" src="https://www.youtube.com/embed/h7TSf1kHRf4" title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
				<h3>CYFIT兆佑： 用想像來訓練！意象訓練真的有效嗎？</h3>
				<iframe style="width: 100%;" src="https://www.youtube.com/embed/AMlkEvuS4ts" title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>
		</div>
		<div class="row text-center">
			<label class="col-4" style="font-size:100%"></label>
			<form id="form" class="col-4" action="/CQ/EQ" method="post">
				<input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
				<input name="password" type="password" value="<%=password%>" style="display:none" /><br />
				<input type="submit" value="上一頁" class="btn btn-primary btn-bg" style="font-size:100%" /><br />
			</form>
			<label class="col-4" style="font-size:100%"></label>
		</div>
		<br>
	</div>
</body>

</html>