<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
	<title>Mental Assessment And Training System</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
</head>

<body style="background-color: gainsboro;">
	<header>
		<div name="Title" class="jumbotron  mb-0 ">
			<div class="text-center  align-self-center">
				<h1>Mental Assessment And Training System<small style="color: gray;">Static Guide</small></h1>
			</div>
		</div>
	</header>
	<div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
		<br>
		<h2 name="title" class="text-center" style="color: black;">
			<strong>Game Day Plan</strong>
		</h2>
		<br>
		<div class="row">
			<div class="col-8" style="font-size: 75%;">
				Game day plan means to finely schedule every details during the game day, including pre-night warm up, transportation, diets, the pre-game exercise and game syllabus. Even setting plans like 1 to 2 days before game will be a huge advantage for players to get into the zone more quickly with better inner-states.
				<h2><strong> Notice: </strong></h2>
				1. Knowing yourself, make appropriate arrangements depends on own circumstances.
				<br>2. Collect more relevant information before planning to increase the sense of control and avoid unpredictable chaos.
        <br>3. There is always a plan B, never forget to prepare a backup plan to keep up tension.
				<br><br>Last but not least, a great feast and self rewards after game are always important.
			</div>
			<div class="col-4">
				<img src="\image\CQ_SW\SW4\1.png" style="width: 100%;" alt="Cannot access to the image"><br>
				<p>Figure 1. A good day plan is conducive to maintaining a stable mental state</p>
			</div>
		</div>
		<div class="row text-center">
			<label class="col-4" style="font-size:100%"></label>
			<form id="form" class="col-4" action="/CQ/EQ" method="post">
				<input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
				<input name="password" type="password" value="<%=password%>" style="display:none" /><br />
				<input type="submit" value="Previous Page" class="btn btn-primary btn-bg" style="font-size:100%" /><br />
			</form>
			<label class="col-4" style="font-size:100%"></label>
		</div>
		<br>
	</div>
</body>

</html>