<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>Mental Assessment And Training System</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body style="background-color: gainsboro;">
  <header>
    <div name="Title" class="jumbotron  mb-0 ">
      <div class="text-center  align-self-center">
        <h1>Mental Assessment And Training System<small style="color: gray;">Static Guide</small></h1>
      </div>
    </div>
  </header>
  <div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
    <br>
    <h2 name="title" class="text-center" style="color: black;">
      <strong>Goal setting</strong>
    </h2>
    <br>
    <div class="row">
      <div class="col-8" style="font-size: 75%;">
        From the interviews or biography of some top athletes, we could know setting goals as soon as possible is a key point to induce efficiency and successful rate. 
        <br><br>
        Here’s an example of Major League’s player Shohei Ohtani during high school, he wrote all his goals in a baseball’s strike zone, which the ultimate target will be written on the center of the zone.   
        <img src="\image\CQ_SW\SW5\1.jpg" style="width: 100%;" alt="Cannot access to the image"><br>
        Goal setting can bring several benefits to players
        <br>Reference(<a
          href="https://sportspsyc.wordpress.com/2020/06/16/goal-setting-for-athletes/">https://sportspsyc.wordpress.com/2020/06/16/goal-setting-for-athletes/</a>)：

        <h2><strong>Setting goals effectively</strong></h2>
        To set a goal and conduct it wisely, we advise using some strategy as assistant like "SMART"
        <br>1. S-Specific: Specific targets.
        <br>2. M-Measurable: Digitize targets.
        <br>3. A- Attainable: Set the target clearly, well-difination.
        <br>4. R-Relevant: All small targets must be high relevant to the main target.
        <br>5. T-Time-Bound: Set time limits for every target.
        <br>
        <h2><strong>Notice: </strong></h2>
        Regular self inspection is needed for enduring target achieving and avoid wrong deviations.<br><br>
      </div>
      <div class="col-4">
        <h2><strong>Figure 1.the goal setting of Major League’s player Shohei Ohtani</strong></h2>
        <img src="\image\CQ_SW\SW5\2.jpg" style="width: 100%;" alt="Cannot access to the image"><br>
        <h2><strong>Figure 2. A SMART goal</strong></h2>
        <img src="\image\CQ_SW\SW5\3.jpg" style="width: 100%;" alt="Cannot access to the image"><br>
      </div>
    </div>
    <div class="row text-center">
      <label class="col-4" style="font-size:100%"></label>
      <form id="form" class="col-4" action="/CQ/EQ" method="post">
        <input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
        <input name="password" type="password" value="<%=password%>" style="display:none" /><br />
        <input type="submit" value="Previous Page" class="btn btn-primary btn-bg" style="font-size:100%" /><br />
      </form>
      <label class="col-4" style="font-size:100%"></label>
    </div>
    <br>
  </div>
</body>

</html>