<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>Mental Assessment And Training System</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body style="background-color: gainsboro;">
  <header>
    <div name="Title" class="jumbotron  mb-0 ">
      <div class="text-center  align-self-center">
        <h1>Mental Assessment And Training System<small style="color: gray;">Static Guide</small></h1>
      </div>
    </div>
  </header>
  <div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
    <br>
    <h2 name="title" class="text-center" style="color: black;">
      <strong>Pre-Performance Routine</strong>
    </h2>
    <br>
    <div class="row">
      <div class="col-8" style="font-size: 75%;">
        Moran (1996) 提出的Pre-Performance
        Routines「賽前例行性動作」。指的是「運動員在執行某特定運動技能前，所從事一連串系統化的想法與行動」。研究者認為，當運動員專注執行Routines時，可以藉此忘記情境壓力、提高穩定性，將注意力更聚焦於當下的任務，避免被外在事物干擾，達到提高運動表現的目標。
        也就是說，當選手處於高壓立得比賽情境之下，身體與心理的狀態會與平常不一樣。許多選手會因此而導致表現失常，或發揮不出平時的實力。
        賽事中，有許多環境因素不可控，當選手執行一套事前就已經制定好的賽前例行性動作時，會將注意力轉移到控制範圍之內。進而讓身心進入一個準備好執行動作的流程中，降低焦慮與壓力，更穩定地面對賽事。從中提升選手比賽時的可掌控感、舒適感與自信。
        <br><br>
        如何建立一套自己的賽前例行性動作
        如何建立自己的例行性動作?其實例行性動作是必須從自己的習慣去發掘的，也可以透過模仿喜愛的對象去建立，不管是怎樣的動作，能讓自己平靜下來的動作，就是好的動作。在建立時，可以先透過書寫的方式，將動作記下來，不斷的操作時，再慢慢地修改動作，到後面完整建立好例行性動作之後，就嚴格操作，就可以建立起自己獨特的性行性動作了。<br><br>
        <h2><strong>參考影片</strong></h2>
        <h3>NBA球星Steve Nash 罰球前的一套例行動作</h3>
        <iframe style="width: 100%;" src="https://www.youtube.com/embed/7-gore5GbDI" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-4">
        <h3>NBA球星Jason Kidd罰球前的飛吻動作</h3>
        <img src="\image\CQ_SW\SW6\1.jpg" style="width: 100%;" alt="無法取得圖片"><br>
      </div>
    </div>
    <div class="row text-center">
      <label class="col-4" style="font-size:100%"></label>
      <form id="form" class="col-4" action="/CQ/EQ" method="post">
        <input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
        <input name="password" type="password" value="<%=password%>" style="display:none" /><br />
        <input type="submit" value="Previous Page" class="btn btn-primary btn-bg" style="font-size:100%" /><br />
      </form>
      <label class="col-4" style="font-size:100%"></label>
    </div>
    <br>
  </div>
</body>

</html>