<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>Mental Assessment And Training System</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body style="background-color: gainsboro;">
  <header>
    <div name="Title" class="jumbotron  mb-0 ">
      <div class="text-center  align-self-center">
        <h1>Mental Assessment And Training System<small style="color: gray;"> Static Guide</small></h1>
      </div>
    </div>
  </header>
  <div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
    <br>
    <h2 name="title" class="text-center" style="color: black;">
      <strong>Pre-Performance Routine</strong>
    </h2>
    <br>
    <div class="row">
      <div class="col-8" style="font-size: 75%;">
        A pre-performance routine is defined as 'sequence of task relevant thoughts and actions which an athletes engages in systematically prior to his or her performance of a specific sport skill' (Moran 1996, p177).
        <br>
        As this definition highlights there are three components to a pre performance routine: cognitions (thoughts), behaviours (actions) and task specific/systematic.
        <br><br>
        This is employed prior to a skill, often used in closed self-paced skills (Singer, 2000; Cohn, 1990; Cotterill, 2010) i.e. gymnastic performance, basketball free throw shooting or golf putting.  A closed skill is one performed in a stable and predicable environment with a clear defined beginning and end (Schmidt, 1991). Self-paced skills are skills, which the athlete decides whens to execute the skill (Singer, 2000).
        <br><br>
        <h2>What is the purpose of a pre-performance routine?</h2>
        The purpose of a pre performance routine is to provide you with:
        <ul>
          <li>The optimal mind-set to achieve the desire outcome</li>
          <li>Assist the neuromuscular pathways</li>
          <li>Assist in schema development or maintenance</li>
        </ul>
        <small>Optimally a pre performance routine is a tool to enable you to achieve your best on a consistent basis. (Adam Kelly, https://believeperform.com)</small>
        <br><br>
        <h2><strong>Reference</strong></h2>
        <h4>The pre-performance of NBA all-star player, Steve Nash, before free throw</h4>
        <iframe style="width: 100%;" src="https://www.youtube.com/embed/7-gore5GbDI" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-4">
        <h5>Figure 1. NBA all-star player, Janson Kidd, blowing kiss before free throw</h5>
        <img src="\image\CQ_SW\SW6\1.jpg" style="width: 100%;" alt="Cannot access to the image"><br>
      </div>
    </div>
    <div class="row text-center">
      <label class="col-4" style="font-size:100%"></label>
      <form id="form" class="col-4" action="/CQ/EQ" method="post">
        <input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
        <input name="password" type="password" value="<%=password%>" style="display:none" /><br />
        <input type="submit" value="Previous Page" class="btn btn-primary btn-bg" style="font-size:100%" /><br />
      </form>
      <label class="col-4" style="font-size:100%"></label>
    </div>
    <br>
  </div>
</body>

</html>