<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>Mental Assessment And Training System</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body style="background-color: gainsboro;">
  <header>
    <div name="Title" class="jumbotron  mb-0 ">
      <div class="text-center  align-self-center">
        <h1>Mental Assessment And Training System<small style="color: gray;"> Static Guide</small></h1>
      </div>
    </div>
  </header>
  <div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
    <br>
    <h2 name="title" class="text-center" style="color: black;">
      <strong>Arousal</strong>
    </h2>
    <br><br>
    <div class="row">
      <div class="col-8" style="font-size: 75%;">
        <h2><strong>What is level of
            arousal?</strong></h2>
        A person's Level of Arousal can be described as a function of alertness, situational awareness, vigilance, level of distraction, stress and direction of attention. In effect, how ready a person is to perform appropriate tasks in a timely and effective manner.
        <br><br>
        Somewhere in between the two extremes, a point of optimum-arousal, which is appropriate and effective for the situation, will exist allowing for optimum performance. At this point it seems that our mental capacity, situational awareness, alertness, attention, vigilance, decision-making, and actions are all heightened in sensitivity and execution – we are in the zone.
        <br><br>
        Our performance at work is also affected directly by the number, complexity and intensity of stressors present and the amount of subjective stress that we are experiencing. There is also a direct relationship between stress and arousal. It is therefore useful to connect levels of arousal with levels of stress. The Yerkes-Dodson Stress Curve is a simplification that can help to explain the relationship between arousal and performance.<br>
        <br><br>
        <h3><strong>Figure: Yerkes-Dodson Performance/Arousal Curve</strong></h3>
        
        <img src="\image\CQ_SW\SW7\4.jpg" style="width: 100%;" alt="Cannot access to the image"><br><br>
        <h2><strong>Factors Affecting Level of Arousal</strong></h2>
        <p>The factors that facilitate a person to perform at an optimal level are variable and peculiar to the individual, however, certain elements are often common, such as:</p>
        <ul>
          <li>workload</li>
          <li>task complexity and difficulty</li>
          <li>task familiarity and past experience</li>
          <li>circadian rhythm (i.e. previous rest/duty cycles and the time of day or night)</li>
          <li>degree of associated risk if failure occurs</li>
          <li>personal, and crew, motivation</li>
          <li>the working environment</li>
          <li>levels of personal stress</li>
          <li>health</li>
          <li>interpersonal relationships at work (cooperation and coordination)</li>
        </ul>
        <br>
        <p>Organisations, teams and individuals can take positive actions to facilitate optimum performance, such as:</p>
        <ul>
          <li>moderating and adapting the working environment</li>
          <li>pre-planning and briefing to share workload</li>
          <li>cross-monitoring and checking procedures</li>
          <li><a href='https://www.skybrary.aero/index.php/Fatigue_Risk_Management_System_(FRMS)'>fatigue risk management systems</a></li>
          <li>employee well-being programme (including stress management)</li>
          <li>cultivating a professional safety culture</li>
        </ul>Reference: 
        <a href="https://www.skybrary.aero/index.php/Level_of_Arousal">https://www.skybrary.aero/index.php/Level_of_Arousal</a><br>
      </div>
      <div class="col-4">
        <img src="\image\CQ_SW\SW7\1.jpg" style="width: 100%;" alt="Cannot access to the image"><br>
        <img src="\image\CQ_SW\SW7\2.png" style="width: 100%;" alt="Cannot access to the image"><br>
        <img src="\image\CQ_SW\SW7\3.jpg" style="width: 100%;" alt="Cannot access to the image"><br>
      </div>
    </div>
    <div class="row text-center">
      <label class="col-4" style="font-size:100%"></label>
      <form id="form" class="col-4" action="/CQ/EQ" method="post">
        <input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
        <input name="password" type="password" value="<%=password%>" style="display:none" /><br />
        <input type="submit" value="Previous Page" class="btn btn-primary btn-bg" style="font-size:100%" /><br />
      </form>
      <label class="col-4" style="font-size:100%"></label>
    </div>
    <br>
  </div>
</body>

</html>