<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>Mental Assessment And Training System</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body style="background-color: gainsboro;">
  <header>
    <div name="Title" class="jumbotron  mb-0 ">
      <div class="text-center  align-self-center">
        <h1>Mental Assessment And Training System<small style="color: gray;">Static Guide</small></h1>
      </div>
    </div>
  </header>
  <div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
    <br>
    <h2 name="title" class="text-center" style="color: black;">
      <strong>神經回饋訓練</strong>
    </h2>
    <br>
    <div class="row">
      <div class="col-8" style="font-size: 75%;">
        神經回饋訓練是透過視覺、聽覺或其他感官知覺的回饋，直接訓練使用者控制自己的腦波活動，讓自己可以處在較佳的腦部活動情況中。目前該項技術已使用在教育界、體育界、臨床醫療上，可以增加使用者更加專注，增強記憶力，或改善失眠等狀況。<br><br>
        <h2><strong>什麼是腦波</strong></h2>
        腦波是腦神經活動時產生的電位訊號，我們可以透過量測腦波訊號，得到大腦功能的運作狀況。量測腦波只需將電極黏在頭皮上即可，沒有侵入性，且十分安全。量測之後，僅須清洗頭皮與頭髮即可，不會對使用者造成任何危害。
        <h2><strong>設備</strong></h2>
        神經回饋訓練需將腦波訊號轉成視覺或聽覺訊號，讓使用者可以察覺自己的腦波狀態。需要有腦波儀(EEG)收取腦波訊號。
        <h2><strong>神經回饋訓練步驟</strong></h2>
        (1)在使用者頭皮上貼上電極，戴上腦波儀(EEG)。<br>
        (2)收取使用者腦波訊號。<br>
        (3)將腦波訊號轉成視覺化圖像(如圖1中長條圖與兔子，紅色長條越向右，表示使用者目前處在特定的腦波狀態中)。<br>
        (4)當紅色長條處在右邊時，表示使用者目前正處在特定腦波狀態中，使用者須記住這時的感覺。(5)使用者必須設法讓紅色長條時常處在右邊。也就是使用者必須自行調整自己的身心狀態，讓自己處在較佳的腦波狀態中。<br>
        <h2><strong>參考影片</strong></h2>
        <h3>exebrain goodmatch：神經回饋訓練作用介紹</h3>
        <iframe style="width: 100%;" src="https://www.youtube.com/embed/SXxo_yqOdtc" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <h3>國立成功大學梁勝富所長--應用於失眠改善之智慧型神經回饋訓練與睡眠輔助評估系統</h3>
        <iframe style="width: 100%;" src="https://www.youtube.com/embed/rn5fP2TPfZw" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-4">
        <h3>圖1、神經回饋訓練示意圖</h3>
        <img src="\image\CQ_SW\SW8\1.jpg" style="width: 100%;" alt="無法取得圖片"><br>
        <h3>圖2、羽量型神經回饋裝置與訓練情況</h3>
        <img src="\image\CQ_SW\SW8\2.jpg" style="width: 100%;" alt="無法取得圖片"><br>
      </div>
    </div>
    <div class="row text-center">
      <label class="col-4" style="font-size:100%"></label>
      <form id="form" class="col-4" action="/CQ/EQ" method="post">
        <input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
        <input name="password" type="password" value="<%=password%>" style="display:none" /><br />
        <input type="submit" value="上一頁" class="btn btn-primary btn-bg" style="font-size:100%" /><br />
      </form>
      <label class="col-4" style="font-size:100%"></label>
    </div>
    <br>
  </div>
</body>

</html>