<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>Mental Assessment And Training System</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body style="background-color: gainsboro;">
  <header>
    <div name="Title" class="jumbotron  mb-0 ">
      <div class="text-center  align-self-center">
        <h1>Mental Assessment And Training System<small style="color: gray;"> Static Guide</small></h1>
      </div>
    </div>
  </header>
  <div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
    <br>
    <h2 name="title" class="text-center" style="color: black;">
      <strong>Neurofeedback Training</strong>
    </h2>
    <br>
    <div class="row">
      <div class="col-8" style="font-size: 75%;">
        <h2><strong>What is brainwave?</strong></h2>
        Neurofeedback, or more precisely "Neurofeedback Training", is a learning-based, completely non-invasive intervention that trains the brain to function more efficiently with using electroencephalogram (EEG) to measure and optimize brain activity.<br><br>
        <h2><strong>Reference</strong></h2>

        <h3>What is Neurofeedback ? Brain training for adults and childrens</h3>
        <iframe style="width: 100%; height: 300px;" src="https://www.youtube.com/embed/D4uIZPfELlk" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-4">
        <h4>Figure 1. the flow of Neurofeedback Training</h4>
        <img src="\image\CQ_SW\SW8\1.jpg" style="width: 100%;" alt="Cannot access to the image"><br>
        <h4>Figure 2. the wearable Neurofeedback Training device</h4>
        <img src="\image\CQ_SW\SW8\2.jpg" style="width: 100%;" alt="Cannot access to the image"><br>
      </div>
    </div>
    <div class="row text-center">
      <label class="col-4" style="font-size:100%"></label>
      <form id="form" class="col-4" action="/CQ/EQ" method="post">
        <input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
        <input name="password" type="password" value="<%=password%>" style="display:none" /><br />
        <input type="submit" value="Previous Page" class="btn btn-primary btn-bg" style="font-size:100%" /><br />
      </form>
      <label class="col-4" style="font-size:100%"></label>
    </div>
    <br>
  </div>
</body>

</html>