<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
	<title>心智評估與訓練系統</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="background-color: gainsboro;">
	<header>
		<div name="Title" class="jumbotron  mb-0 ">
			<div class="text-center  align-self-center">
				<h1>心智評估與訓練系統<small style="color: gray;">靜態教學</small></h1>
			</div>
		</div>
	</header>
	<div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
		<br>
		<h2 name="title" class="text-center" style="color: black;">
			<strong>頻閃眼鏡 (Stobe Goggles)</strong>
		</h2>
		<br>
		<div class="row">
			<div class="col-8" style="font-size: 75%;">頻閃眼鏡(Stobe Goggles)是近年來Senaptec研發的視覺訓練工具。Stobe
				Goggles可以快速且固定頻率地遮蔽使用者視線，藉以改善使用者的運動、平衡與反應時間。Stobe
				Goggles通過閃爍的效果間歇性地阻擋了用戶的視線，從而發揮了神奇的作用。在清晰和遮擋的視覺之間切換時，人的大腦被迫填補空白並預測運動。靈敏度的提高立即增強了視覺的清晰度，並改善了人眼的協調性，移動性，平衡性和反應時間。目前Stobe
				Goggles以推廣到各項職業運動中，並被許多運動明星納入訓練項目，如NBA球星 Stephen Curry。<br><br>
				<h2><strong>參考影片</strong></h2>
				<h3>Sports Science Lab：Strobe Goggles</h3>
				<iframe style="width: 100%;" src="https://www.youtube.com/embed/RupNqK86kKc" title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
				<h3>STACK：Nike Vapor Strobes</h3>
				<iframe style="width: 100%;" src="https://www.youtube.com/embed/xM7i2OSUyFY" title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>
			<div class="col-4">
				<img src="\image\CQ_SW\SW1\1.jpg" style="width: 100%;" alt="無法取得圖片"><br>
				<img src="\image\CQ_SW\SW1\2.jpg" style="width: 100%;" alt="無法取得圖片"><br>
			</div>
		</div>
		<div class="row text-center">
			<label class="col-4" style="font-size:100%"></label>
			<form id="form" class="col-4" action="/CQ/EQ" method="post">
				<input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
				<input name="password" type="password" value="<%=password%>" style="display:none" /><br />
				<input type="submit" value="上一頁" class="btn btn-primary btn-bg" style="font-size:100%" /><br />
			</form>
			<label class="col-4" style="font-size:100%"></label>
		</div>
		<br>
	</div>
</body>

</html>