<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
	<title>心智評估與訓練系統</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
</head>

<body style="background-color: gainsboro;">
	<header>
		<div name="Title" class="jumbotron  mb-0 ">
			<div class="text-center  align-self-center">
				<h1>心智評估與訓練系統<small style="color: gray;">靜態教學</small></h1>
			</div>
		</div>
	</header>
	<div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
		<br>
		<h2 name="title" class="text-center" style="color: black;">
			<strong>比賽當日計畫(Game Day Play)</strong>
		</h2>
		<br>
		<div class="row">
			<div class="col-8" style="font-size: 75%;">
				比賽當日計畫指的是賽前就規劃好比賽當天的行程，包含前一日的作息、比賽日的交通與飲食，還有賽前的練習與賽程的掌握。甚至連賽前1~2日的行程都規劃好。讓選手依照計畫進行，何時何地應該做什麼，都有事先的規劃與準備。好處是選手因為知道什麼時間點該做什麼事，較不易慌張，有安定感，可以在比賽期間維持穩定的心理狀態。
				<h2><strong> 注意事項：</strong></h2>
				1、
				了解自身狀況，參考過往經驗，做出妥善安排。每個選手對於賽事的習慣與應對的態度不同，應以自身狀況加以考量。例如，出門前，一定要上廁所，或是容易找不到東西，就必須在安排計畫時將這件事考慮進去，比賽日早點起床，或前一晚就做出門準備，寧可多預留一些時間準備好，也不要出門前才，臨時慌亂。
				<br>2、
				多收集賽事相關資訊，增加掌控感。做計劃前應多多收集相關資訊，例如交通狀況、天氣狀況，賽事場地與環境等，將這些資訊納入規劃中，可提高掌控感，以助於計畫的完善。盡可能規劃變動性較少(突發狀況較少)的選項，例如交通規劃，有捷運、公車、自行開車等選項，捷運不會遇到塞車，也不會有交通事故，是比較穩定的交通選項。
				<br>3、 保留調整的彈性。雖然做好規劃，但是，比賽當日狀況可能有所改變，需保留可調整的彈性，甚至如果預期有發生突發狀況的可能，也可以事先擬訂預備計畫(Plan
				B)以做因應。例如，如果賽事延遲，使得行程延宕，選手可以做些什麼?後續的行程要如何調整?
				如果真的出現意料之外的突發狀況，不用過於慌張，可基於原來的計畫架構劑型調整，迅速回穩。
				<br>4、 可在計畫最後加入獎賞行程。當賽事結束後，不論賽事成績如何，選手辛苦比賽，應在賽事之後設定一個獎賞行程，例如，吃頓大餐、看場電影等，作為舒緩身心的Happy Ending。
			</div>
			<div class="col-4">
				<img src="\image\CQ_SW\SW4\1.png" style="width: 100%;" alt="無法取得圖片"><br>
			</div>
		</div>
		<div class="row text-center">
			<label class="col-4" style="font-size:100%"></label>
			<form id="form" class="col-4" action="/CQ/EQ" method="post">
				<input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
				<input name="password" type="password" value="<%=password%>" style="display:none" /><br />
				<input type="submit" value="上一頁" class="btn btn-primary btn-bg" style="font-size:100%" /><br />
			</form>
			<label class="col-4" style="font-size:100%"></label>
		</div>
		<br>
	</div>
</body>

</html>