<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>心智評估與訓練系統</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="background-color: gainsboro;">
  <header>
    <div name="Title" class="jumbotron  mb-0 ">
      <div class="text-center  align-self-center">
        <h1>心智評估與訓練系統<small style="color: gray;">靜態教學</small></h1>
      </div>
    </div>
  </header>
  <div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
    <br>
    <h2 name="title" class="text-center" style="color: black;">
      <strong>目標設定</strong>
    </h2>
    <br>
    <div class="row">
      <div class="col-8" style="font-size: 75%;">
        從不少頂尖選手的自傳或訪談中，我們可以發現這些選手很早就確立了自己的目標。有明確的目標設定選手就會有前進的標的，知道怎麼安排或增強自己的能力，確保自己是在往目標的道路上邁進。
        <br><br>
        美國職棒大聯盟職棒明星【二刀流-大谷翔平】，在高中時期就以「九宮格」為基底，製作了一張複雜的「目標達成九宮格表」。在這張複雜的九宮格紙上，中央列著他高中畢業前的終極目標：同時成為八個球隊的第一指名。
        <img src="\image\CQ_SW\SW5\1.jpg" style="width: 100%;" alt="無法取得圖片"><br>
        目標設定可以位選手帶來幾個好處
        <br>(資料來源：運動心理訓練網站 <a
          href="https://sportspsyc.wordpress.com/2020/06/16/goal-setting-for-athletes/">https://sportspsyc.wordpress.com/2020/06/16/goal-setting-for-athletes/</a>)：
        <br>1、 排出先後順序，增進效率
        <br>2、 確定自己在通往目標的路上
        <br>3、 增進掌控感
        <br>4、 突發狀況發生時，降低不確定感
        <br>5、 維持動機 <br>
        <h2><strong>有效地設定目標</strong></h2>
        訪間有許多目標設定的策略，這裡要教大家一種廣泛使用的目標設定方法：SMART法。
        依據五個原則設定目標，確保能夠訂定有效、能確實執行的目標。
        <br>1、
        明確的(S-Specific)。設定目標的第一步是要有一個具體明確的目標，而不是設定一些模糊空泛的目標。例如，【要取得好成績】、【下次要再更進步】等目標定義明確，到底什麼是好成績?進步多少才算更進步?可以將上述兩個目標改成【要進入全班前10名】、【下次比賽要多得10分】等，類似此類具體的目標，讓使用者可以在事後檢驗時，可以明確地知道到底是否達到目標，或是還差距多少，可以以此為依據，讓自己一步步朝目標邁進。
        <br>2、
        可測量的(M-Measurable)。可測量原則即要將目標數值化，可以測量，這可以讓使用者避免目標模糊，知道目前離目標還有多少差異。就以上依原則所舉的例子【要進入全班前10名】、【下次比賽要多得10分】，都是可以測量的目標，事後可以明確地知道如果未達標，還差多少，使用者可以依距離目標的距離，修訂計畫，朝達標邁進。
        <br>3、
        可達成的(A-Achievable)。目標的設定不應太容易，太容易達成的目標，即使不努力也會達到，會讓使用者不努力練習，沒有進步的動力。然而，太困難的目標，卻又會讓使用者容易挫敗，因為再努力都無法達標，而放棄努力。設定目標宜根據自身狀況，擬定一個需要努力才能達成的目標，但又不會太過於好高騖遠。例如：一個數學成績只有30分的學生，如果要他設定下次月考進步到90分，顯然，對他而言過於困難。我們可以先將目標設定在及格60分，讓學生可以有個經過努力可以達成的目標，待目標達成之後再修改成更高的目標。
        <br>4、 相關的(R-Relevant)。每一個目標的設定都應該與大方向或終極目標是有關的。例如，某個選手的終極目標是當選國手，在設定目標或擬訂計畫時就須依照終極目標訂立相關的目標。
        <br>5、
        有時限的(T-Time-Bound)。設定目標時必須同時訂立時限，自己要花多少時間達到目標。設定達到目標的方法時也要具體的設計這個練習的頻率、次數等。例如說我要在一年後達到這個階段目標、練跑我一周要練三次、這個動作我每次要練5組等。<br>
        <h2><strong>目標設定後的檢核與修訂</strong></h2>
        目標設定之後要定期檢核，如能順利地朝目標邁進最好，如期間發現執行過程中有偏差，應該要適時地檢討或修訂目標。目標達成之後，應該修訂到更高的目標。不要因為某一階段達標就停滯不前。<br><br>
      </div>
      <div class="col-4">
        <h2><strong>大谷翔平「目標達成九宮格表」</strong></h2>
        <img src="\image\CQ_SW\SW5\2.jpg" style="width: 100%;" alt="無法取得圖片"><br>
        <h2><strong>目標設定SMART法</strong></h2>
        <img src="\image\CQ_SW\SW5\3.jpg" style="width: 100%;" alt="無法取得圖片"><br>
      </div>
    </div>
    <div class="row text-center">
      <label class="col-4" style="font-size:100%"></label>
      <form id="form" class="col-4" action="/CQ/EQ" method="post">
        <input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
        <input name="password" type="password" value="<%=password%>" style="display:none" /><br />
        <input type="submit" value="上一頁" class="btn btn-primary btn-bg" style="font-size:100%" /><br />
      </form>
      <label class="col-4" style="font-size:100%"></label>
    </div>
    <br>
  </div>
</body>

</html>