<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>心智評估與訓練系統</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="background-color: gainsboro;">
  <header>
    <div name="Title" class="jumbotron  mb-0 ">
      <div class="text-center  align-self-center">
        <h1>心智評估與訓練系統<small style="color: gray;">靜態教學</small></h1>
      </div>
    </div>
  </header>
  <div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
    <br>
    <h2 name="title" class="text-center" style="color: black;">
      <strong>最佳覺醒程度</strong>
    </h2>
    <br>
    <div class="row">
      <div class="col-8" style="font-size: 75%;">
        <h2><strong>什麼是覺醒程度(level of
            arousal)?</strong></h2>
        覺醒程度指的是一種心理上綜合的感受，生理與心理整體活躍的狀態。我們可以將覺醒程度分為10等分，程度最低為【沉睡：0分】，最高為【極度亢奮：10分】。在運動項目上，覺醒程度與選手們的表現息息相關，每個人有不同的最佳覺醒程度，而最佳覺醒程度也會因為比賽項目不同而不同。根據文獻分析，需要精準性、穩定性的運動(如：高爾夫球的推桿、射擊、射箭等)，過高的覺醒程度將導致該類運動表現下降，容易出現失誤。但是，需要爆發力的項目(如：舉重，拳擊等)，較高的覺性程度，卻能夠帶來較佳的表現。
        <br><br>
        一般來說，覺醒程度與活動表現通常呈現【倒U】型關係，極端的兩種覺醒狀態，過於放鬆或是過於亢奮，對於活動表現來說都是不利的。適中的覺醒程度，可以使選手在比賽中有較佳的表現。<br>
        <h3><strong>圖片:活動表現與覺醒程度成【倒U】型關係</strong></h3>
        <img src="\image\CQ_SW\SW7\4.jpg" style="width: 100%;" alt="無法取得圖片"><br><br>
        <h2><strong>如何找到最佳覺醒程度</strong></h2>
        (資料來源：運動心理訓練 <a href="https://www.facebook.com/SportsPsyc">https://www.facebook.com/SportsPsyc</a> )<br>
        如前面所說，每個人有不同的最佳覺醒程度，而最佳覺醒程度也會因為比賽項目不同而不同。每個人的最佳覺醒程度，都是透過自身的覺察與經驗的累積而來。簡單3步驟
        <br>(1) 拿一張空白紙，畫上x軸跟y軸(只有第一象限那種)，x軸代表覺醒程度，y軸代表表現結果。在x軸跟y軸上各自標出1-10刻度，1表示覺醒程度很低/表現結果不好，10代表覺醒程度很高/表現結果很好。
        <br>(2)
        使用意象訓練，分別意象各種覺醒程度的經驗，並寫上表現結果的分數。例如：我意象覺醒程度是10分的過去經驗，那次的表現結果我給3分。意象覺醒程度是4分的經驗，當次的表現結果我給8分。(如果意象不出來也可以去看看過去比賽影片幫助回想喔！)把這些對應的分數畫在xy軸的點點上。
        <br>(3) 看看自己畫出來的圖，花一些時間閱讀一下。<br>
        自己最好的表現在覺醒程度幾分的時候呢？<br>
        回想自己有最佳覺醒程度的時候，自己的狀態是什麼呢？<br>
        頭腦裡在想什麼～在跟自己說話嗎～說了什麼？<br>
        在那次比賽前，自己做了哪些準備嗎？<br>
        上述問題的答案可能是專屬於你的調適到最佳覺醒程度的方法喔！<br>
        <h3><strong>圖片:找出自己最佳覺醒程度</strong></h3>
        <img src="\image\CQ_SW\SW7\5.png" style="width: 100%;" alt="無法取得圖片"><br>
        <h2><strong>控制覺醒程度</strong></h2>
        在活動中，覺察到自己並不是處在最佳的覺醒狀態時，可以透過下面的方法來調整自己。

        <h3>【提升覺醒程度】</h3>
        (1)加快加深呼吸頻率，提升自己的身心狀態。<br>
        (2)做充滿活力的動作，例如: 跳躍或是小跑步來提振精神，讓自己熱起來。<br>
        (3)做些激勵自己的舉動，例如:吶喊口號或與隊友擊掌。<br>
        (4)聽節奏強勁的音樂。<br>
        <h3>【提升覺醒程度】</h3>
        (1)放慢呼吸頻率。<br>
        (2)將動作放緩，不急著出手。<br>
        (3)進行放鬆意象訓練。<br>
        (4)專注場上或目標，忽略無關干擾。<br>
      </div>
      <div class="col-4">
        <img src="\image\CQ_SW\SW7\1.jpg" style="width: 100%;" alt="無法取得圖片"><br>
        <img src="\image\CQ_SW\SW7\2.png" style="width: 100%;" alt="無法取得圖片"><br>
        <img src="\image\CQ_SW\SW7\3.jpg" style="width: 100%;" alt="無法取得圖片"><br>
      </div>
    </div>
    <div class="row text-center">
      <label class="col-4" style="font-size:100%"></label>
      <form id="form" class="col-4" action="/CQ/EQ" method="post">
        <input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
        <input name="password" type="password" value="<%=password%>" style="display:none" /><br />
        <input type="submit" value="上一頁" class="btn btn-primary btn-bg" style="font-size:100%" /><br />
      </form>
      <label class="col-4" style="font-size:100%"></label>
    </div>
    <br>
  </div>
</body>

</html>